
.icon-mail:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-quote:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */